<?xml version="1.0"?>
<appSettings>
  <add key="config" value="True" />
  <add key="pingdomEmail" value="" />
  <add key="pingdomPassword" value="" />
  <add key="pingdomAppKey" value="" />

  <add key="databaseAddress" value="" />
  <add key="databaseName" value="" />
  <add key="databaseUserName" value="" />
  <add key="databasePassword" value="" />
  
</appSettings>
